[submodule "docker"]
	path = docker
	url = git@gitlab.com:ansible-groups/docker.git
[submodule "nginx"]
	path = nginx
	url = git@gitlab.com:ansible-groups/nginx.git
[submodule "openvpn"]
	path = openvpn
	url = git@gitlab.com:ansible-groups/openvpn.git
