[submodule "docker"]
	path = docker
	url = git@gitlab.com:ansible-groups/docker.git
[submodule "nginx"]
	path = nginx
	url = git@gitlab.com:ansible-groups/nginx.git
[submodule "openvpn"]
	path = openvpn
	url = git@gitlab.com:ansible-groups/openvpn.git
[submodule "postgres"]
	path = postgres
	url = git@gitlab.com:ansible-groups/postgres.git
[submodule "grafana"]
	path = grafana
	url = git@gitlab.com:ansible-groups/grafana.git
[submodule "loki"]
	path = loki
	url = git@gitlab.com:ansible-groups/loki.git
[submodule "prometheus"]
	path = prometheus
	url = git@gitlab.com:ansible-groups/prometheus.git
